@import "../../theme/theme.scss";

.PageLayout {
  font-family: $font-family-primary;
  background-color: $color-greyscale-100;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  gap: $spacing-base-4;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.PageLayout__header {
  grid-area: header;
  word-break: break-all;
}

.PageLayout__main {
  grid-area: main;
  word-break: break-all;
}

.PageLayout__sidebar {
  grid-area: sidebar;
  word-break: break-all;
}

@media (max-width: 900px) {
  .PageLayout {
    grid-template-columns: 1fr;
    grid-template-rows: 56px auto 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }
}
