@import "../../theme/theme.scss";

.storybook-button {
  font-family: $font-family-primary;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: $primary-dark;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: $space-8 $space-16;
}

.storybook-button--large {
  font-size: 16px;
  padding: $space-12 $space-20;
}
