@import "../../theme/theme.scss";

.storybook-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background: $color-primary-100;
  gap: $spacing-base-16;
  border-radius: $border-radius-lg;
  color: $color-white;

  & > .typography-button-text {
    color: $color-white;
  }

  &:hover {
    background: $color-primary-200;
  }

  &:active {
    background: $color-primary-300;
  }

  &:disabled {
    color: $color-greyscale-200;
    background: $color-greyscale-100;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &--large {
    padding: $spacing-base-16;
  }

  &--medium {
    padding: $spacing-base-12;
  }

  &--small {
    padding: $spacing-base-8;
  }

  &--round {
    border-radius: $border-radius-xl;
  }

  &--rounded-corner {
    border-radius: $border-radius-md;
  }

  &--square {
    border-radius: unset;
  }
}
