@import "../../theme/theme.scss";

.typography-h1, {
  font-family: "Inter";
  font-style: normal;
  color: $color-greyscale-300;
}

.typography-h1 {
  font-weight: $font-weight-700;
  font-size: $font-size-32;
  line-height: $line-height-38;
}
