@import "../../theme/theme.scss";

.storybook-card {
  display: flex;
  flex-direction: column;
  background: $color-white;
  box-shadow: $shadow-sm;
  padding: $spacing-base-16;
  gap: $spacing-base-24;
  border-radius: $border-radius-lg;
  max-width: 460px;
}
