@import "../../theme/theme.scss";

.storybook-card {
  display: flex;
  flex-direction: column;
  background: $color-white;
  box-shadow: $shadow-sm;
  padding: $spacing-base-16;
  gap: $spacing-base-24;
  border-radius: $border-radius-lg;

  > .card-content {
    display: flex;
    flex-direction: column;
    gap: $spacing-base-8;

    > img {
      background: $color-greyscale-100;
      width: 100%;
      height: auto;
    }
  }

  > button {
    align-self: flex-end;
  }
}
