/**************
* FONT STYLES *
***************/
$font-family-primary: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

/**************
* SPACING STYLES *
***************/
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;

/**************
* MAIN COLORS *
***************/

//PRIMARY COLORS
$primary-dark: #004ac3;
$primary-light: #33aaf8;

//SECONDARY COLORS
$secondary-dark: #1d2329;
$secondary-light: #e1e9f0;

//STATUS COLORS
$success: green;
$warning: orange;
$error: red;
