@import "../../theme/theme.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-base-16;
  padding: $spacing-base-16;
  background: $color-white;
  box-shadow: $shadow-sm;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing-base-8;

  > .typography-h2 {
    color: $color-primary-100;
  }
}

.logo {
  border-radius: 50%;
  background: $color-primary-100;
  color: $color-white;
  padding: $spacing-base-8;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $spacing-base-48;
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing-base-32;
  margin-left: auto;

  > .typography-h2 {
    color: $color-primary-100;
  }

  @media (max-width: $breakpoint-900) {
    display: none;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $color-black;
  gap: $spacing-base-16;
}
