@import "../../theme/theme.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-base-16;
  padding: $spacing-base-16;
  background: $color-white;
  box-shadow: $shadow-sm;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing-base-8;

  > .typography-h2 {
    color: $color-primary-100;
  }
}

.logo {
  width: $spacing-base-48;
  height: $spacing-base-48;
  border: 1px solid $color-greyscale-100;
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing-base-32;
  margin-left: auto;

  > .typography-h2 {
    color: $color-primary-100;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing-base-8;
}

.icon {
  width: $spacing-base-24;
  height: $spacing-base-24;
  border: 1px solid $color-greyscale-100;
}
