@import "../../theme/theme.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-base-24;
  padding: $spacing-base-24;
  background: $color-white;
  box-shadow: $shadow-md;
}

.sidebar__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-base-8;
}

.sidebar_icon{
    width: 24px;
    height: 24px;
    color: $color-primary-100;
}

.sidebar__button {
  margin-top: auto;
  height: 48px;
  width: 48px;
  align-self: flex-end;
}

@media (max-width:900px) {
  .sidebar { flex-direction: row; align-items: center; }

}
