@import "../../theme/theme.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-base-24;
  padding: $spacing-base-24;
  background: $color-white;
  box-shadow: $shadow-md;
}

.divider {
  width: 100%;
  height: $size-base-2;
  margin: 0 $spacing-base-2;
  background: $color-primary-100;
}

.sidebar__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-base-8;
}

.sidebar_icon{
    width: $size-base-24;
    height: $size-base-24;
    color: $color-primary-100;
}

.sidebar__button {
  margin-top: auto;
  align-self: flex-end;
}

.sidebar__button-icon {
    width: $size-base-24;
    height: $size-base-24;
    color: $color-white;
}

@media (max-width:$breakpoint-900) {
  .sidebar { flex-direction: row; align-items: center; }
  .sidebar__button {margin-left: auto;}
  .divider { display: none; }
}
